.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ingredientPane {
  background-color: white;
  width: 35vw;
  height: 65vh;
  border: solid 1pt black;
  margin: 100px 50px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;  
  font-weight: bolder;
}

.burgerPane {
  background-color: white;
  width: 35vw;
  height: 65vh;
  border: solid 1pt black;
  margin: 100px 50px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  
}


.container {
  background-color: lightgrey;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.ingredients {
  border: 1pt solid black;
  margin: 3px;
  margin-top: 10px;
}

.stackArea {
  text-align: center;
  margin: 350px 0px 100px;
  
}